h1 {
    text-align: center;
    font-family: 'Press Start 2P';
    font-size: 64 px;
}

h2 {
    text-align: center;
    font-family: 'Press Start 2P';
    font-size: 39 px;
    color: #FBE122;
    -webkit-text-stroke: 2px #D26B20;
}

p {
    font-style: italic;
    margin-left: 11.25%;
    margin-right: 11.25%;
}