.page-mentions-legales p {
  font-style: italic;
  font-size: 1rem;
  margin: 15px 12.5%;
}
@media screen and (min-width: 800px) {
  .page-mentions-legales p {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1200px) {
  .page-mentions-legales p {
    font-size: 1.5rem;
  }
}
