/* Normalize some styles across browsers */
/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Style globaux ici */
body {
  font-family: openSans;
}
.Titre {
  text-align: center;
  font-family: press;
  font-size: 2rem;
  margin: 50px;
  padding-top: 50px;
}
@media screen and (min-width: 800px) {
  .Titre {
    text-align: center;
    font-family: "Press Start 2P";
    font-size: 3rem;
    margin: 50px;
    padding-top: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .Titre {
    text-align: center;
    font-family: "Press Start 2P";
    font-size: 4rem;
    margin: 50px;
    padding-top: 50px;
  }
}

@media screen and (min-width: 800px) {
  .Titre {
    text-align: center;
    font-family: "Press Start 2P";
    font-size: 3rem;
    margin: 50px;
    padding-top: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .Titre {
    text-align: center;
    font-family: "Press Start 2P";
    font-size: 4rem;
    margin: 50px;
    padding-top: 50px;
  }
}

@media screen and (min-width: 800px) {
  .Titre {
    text-align: center;
    font-family: press;
    font-size: 3rem;
    margin: 50px;
    padding-top: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .Titre {
    text-align: center;
    font-family: press;
    font-size: 4rem;
    margin: 50px;
    padding-top: 50px;
  }
}

.SousTitre {
  text-align: center;
  font-family: press;
  font-size: 1.5rem;
  margin: 15px 10%;
  color: #fbe122;
  -webkit-text-stroke: 1px #d26b20;
}
@media screen and (min-width: 800px) {
  .SousTitre {
    text-align: left;
    font-size: 1.75rem;
    margin: 15px 10%;
    -webkit-text-stroke: 2px #d26b20;
  }
}
@media screen and (min-width: 1200px) {
  .SousTitre {
    text-align: left;
    font-size: 2rem;
    margin: 15px 10%;
  }
}

@font-face {
  font-family: press;
  src: url("../font/PressStart2P-Regular.ttf");
}
@font-face {
  font-family: openSans;
  src: url("../font/OpenSans-Regular.ttf");
}
