@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

.main-footer {
  height: 20vh;
  background-color: #6ec1e4;
  position: relative;
  font-size: 1rem;
  a {
    z-index: 20;
    position: absolute;
    color: black;
    top: 40%;
    left: 25%;
    font-family: "Open Sans", Arial, sans-serif;
    text-decoration: none;
  }
}

.briques {
  display: none;
}

.carapace {
  display: none;
  left: 0;
}

.triple-blocs {
  position: absolute;
  right: 30%;
  top: 30%;
  height: 24px;
  transform: translateY(-50%);
}

.footer-tuyau {
  display: none;
}

.super-star-footer {
  display: none;
  position: absolute;
  top: 12px;
  right: 48px;
  width: 40px;
  height: auto;
  z-index: 10;
}

@media screen and (min-width: 800px) {
  .main-footer {
    height: 20vh;
    background-color: #6ec1e4;
    position: relative;
    font-size: 1.5rem;
    a {
      z-index: 20;
      position: absolute;
      color: black;
      top: 25%;
      left: 20%;
      font-family: "Open Sans", Arial, sans-serif;
      text-decoration: none;
    }
  }

  .briques {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 24px;
    background-image: url("../../images/marioFloorFooter.png");
    background-repeat: repeat-x;
    background-position: bottom;
    pointer-events: none;
    display: block;
  }

  .carapace {
    position: absolute;
    bottom: 21px;
    height: 28px;
    display: block;
    left: 0;
  }

  .triple-blocs {
    position: absolute;
    right: 30%;
    top: 30%;
    height: 24px;
    transform: translateY(-50%);
  }
}

@media screen and (max-width: 800px) {
  .footer-tuyau {
    display: block;
    position: absolute;
    bottom: 0;
    width: 35px;
    z-index: 2;
  }
  .grandTuyau.footer-tuyau {
    left: 10%;
  }
  .petitTuyau.footer-tuyau {
    left: 50%;
    transform: translateX(-50%);
  }
  .moyenTuyau.footer-tuyau {
    right: 20%;
  }
  .super-star-footer {
    display: block;
  }
}
