.main-header {
  height: 20vh;
  background-color: #6ec1e4;
  position: relative;
}
.titre {
  z-index: 50;
  display: flex;
  flex-direction: row;
  align-items: center;
  a {
    img {
      width: 200px;
      position: absolute;
      top: 20%;
      left: 15%;
      transform: translate(-50% 50%);
    }
  }
  .main-nav {
    position: absolute;
    right: 5%;
    top: 40%;
    transform: translate(-50% 50%);
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 700px;
      gap: 25px;
      li {
        background-image: url("/assets/images/blocTitre.png");
        background-size: contain;
        padding: 0px 10px;
        border: #fbe122 2px solid;
        a {
          font-size: 2rem;
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}
.grandTuyau,
.petitTuyau,
.moyenTuyau {
  position: absolute;
  bottom: 0;
  width: 35px;
}
.grandTuyau {
  left: 10%;
}
.petitTuyau {
  left: 50%;
}
.moyenTuyau {
  right: 20%;
}
.caseMystere {
  position: absolute;
  width: 30px;
  top: 20%;
  right: 40%;
  z-index: 60;
}
.main-header .bi-list {
  position: absolute;
  right: 1%;
  top: 10%;
  background-color: white;
  border-radius: 25%;
  display: none;
}
@media (width < 1150px) {
  .titre {
    .main-nav {
      ul {
        width: 600px;
        gap: 10px;
        li {
          a {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
@media (width < 1000px) {
  .main-nav {
    display: none;
  }
  .caseMystere {
    right: 20%;
  }
  .main-header .bi-list {
    display: block;
  }
}
